<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="home.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="head">
    <img class="titleimg" src="https://cdn.nba.com/logos/leagues/L/logo-nba.svg" alt="nba logo image" />
    <h1 class="title">The Los Anglekes Lakers</h1>
    <img class="titleimg" src="https://cdn.nba.com/teams/uploads/sites/1610612747/2021/12/lakers_70x70.svg" alt="nba logo image" />
  </div>

    <div class="navbar">
      <a  href="/about">About</a>
      <a href="/history">History</a>
      <a href="/gallery">Gallery</a>
    </div>

    <div class="lastgame">
    <h1>Latest Game</h1>
    <img class="lastgameimg" src="../lastgame.png" alt="last game result image" />
    </div> 
</body>
</html>